*{
    font-family: verdana;
    margin: 0;
}

html,body{
    background: #eee;
    min-height:100vh;
}

.wrapper{
    margin: 0 auto;
}

/* Section Style */

.mySection{
    background: #c6c6c6;

}

/*Allocate CSS Flex to wrapper div.*/
.myFlexWrapper{
    display: flex;
    justify-content: space-between;
    background: #c6c6c6;
    height: 100vh;
    
}
/*As these are child divs they will get flex properties of parent myFlexWrapper!*/
.wrapper1,.wrapper2{
    display: flex;
    align-items: flex-end;
    /*All child elements of this div should go to end bcoz of flex-end property.*/
}
.common{
    width:150px;
    height:150px;
    
}

.div1{
    background-color: red;
    align-self: center;
    flex: 1 1 auto;
    /*This div will align to center inspite of default properties*/
}

.div2{
    background-color: blue;
    
}

.div3{
    background-color: orange;
    align-self:flex-start;
}